@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">☠ Página de Videojuegos ⚡ </h1>
    <p>En esta página podrá encontrar un formulario donde puede usted registrar la Venta de un productos.</p>
    <p>Leer <a href="#">Pagina WEB de JJRC</a>.</p>
</div>
